@import "~bootstrap/scss/bootstrap";

#cont {
    padding: 25px;
}

#datiCovidItalia {
    margin-top: 20px;
}

.doubleCard {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.cRegione {
    width: 50%;
    margin-right: 10px;
}

div.cProvince {
    width: 50%;
}

.grafici {
    max-width: 100%;
    max-height: 450px;
}