@import "~bootstrap/scss/bootstrap";


.headerVaccini {
    background-color: #343A40;
    width: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 3rem;
    position: absolute;
}

#tsparticles {
    width: 100%;
    height: 250px;
    background-color: #343A40;
  }

#cardHead {
    background: #343a40;
    color: white;
}

#cardHead, #cardFoot {
   text-align: center;
   justify-content: center;
   align-items: center;
}

#fioreVacc {
    max-width: 100%;
}
